body {
    font-family: 'Poppins', cursive;
    background-color: #fce4ec; /* Fundo rosa claro */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff0f5; /* Fundo interno rosa clarinho */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 182, 193, 0.5);
    border: 3px solid #f8bbd0;
}

h1 {
    font-size: 28px;
    color: #d81b60; 
}

#start-button {
    padding: 8px 30px;
    border-radius: 20px;
    background-color: #f8bbd0;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
}

/* Efeito ao passar o mouse */
#start-button:hover {
    background-color: #f48fb1; 
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin-top: 20px;
}

.board div {
    width: 100px;
    height: 100px;
    background-color: #ffe4e1; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 10px;
    color: #d81b60; 
}

.board div:hover {
    background-color: #f8bbd0;
}

/* Verde das células vencedoras */
.winning-cell {
    background-color: #c8e6c9; 
    transition: background-color 0.5s ease-in;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #d81b60;
}
